@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>HELLO MODAPHUCKER</h1>
    <p class="lead">ĐiỆn mÁy xAnH</p>
    <img class="img-responsive" src="@Url.Content("~/Content/dien-may-xanh-5.jpg")" />
</div>

<div class="row">
    <div class="col-md-4">

        <h2>Getting started</h2>

        <p>hIhI đỒ nGu</p>

        <p><a class="btn btn-default" href="https://hoctructuyen.vanlanguni.edu.vn/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">

        <h2>Get more libraries</h2>

        <p>hIhI đỒ nGu</p>

        <p><a class="btn btn-default" href="https://hoctructuyen.vanlanguni.edu.vn/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">

        <h2>Web Hosting</h2>

        <p>hIhI đỒ nGu</p>

        <p><a class="btn btn-default" href="https://hoctructuyen.vanlanguni.edu.vn/">Learn more &raquo;</a></p>
    </div>
</div>